*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.img-responsive{
    display: inline;
    width: 30%;
}

.nav{
    margin: 0 auto;
}

.nav li a{
    color: black;
    font-size: 1.5rem;
}

.nav>li>a:hover, .nav>li>a:focus{
    background-color:white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    color: #fff;
    background-color: #009688;
    border-radius: 0;
}
